.splitter-container {
  background: #111;
  color: white;
  padding: 40px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 25px rgba(0, 255, 200, 0.2);
  width: 85%;
  margin: 60px auto;
}

.split-row {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 10px;
}

.split-row input {
  padding: 8px 12px;
  border-radius: 6px;
  border: 1px solid #00ffc8;
  background: #1a1a1a;
  color: white;
  outline: none;
}

.split-buttons button {
  background: linear-gradient(90deg, #00ffc8, #00aaff);
  color: #000;
  font-weight: 600;
  padding: 10px 25px;
  border-radius: 20px;
  border: none;
  margin: 10px;
  cursor: pointer;
  transition: 0.2s;
}

.split-buttons button:hover {
  transform: scale(1.05);
}

.result {
  margin-top: 15px;
  font-size: 1.2rem;
  color: #00ffc8;
}
